img {
    height: 50vh;
    width: 50vh;
    border: 5px solid #34495e;
    border-radius: 2%;
  }
  
  .card {
    width: 51vh;
    height: 51vh;
    padding-left: 2vh;
    margin: 3%;
  }
  
  .card button {
    width: 20%;
    border: 0;
    background-color: transparent;
    color: #fff;
    border: 2px solid #2c3e50;
    border-radius: 10%;
  }
  
  .card button:hover {
    background-color: #2c3e50;
  }